$action-background: rgb(0, 0, 0);
$action-border: rgb(255, 255, 255);
$action-text: rgb(255, 255, 255);

// Text
$text: rgb(0, 0, 0);
$text-on-background-high: rgb(255, 255, 255);

// Background
$background: rgb(255, 255, 255);
$background-second: rgba(248, 239, 235, 1);
$background-high: rgb(0, 0, 0);

// Misc
$icon-background: rgb(0, 0, 0);
