$text: 'Futura Std', sans-serif;

// Line heights
$line-height-single: 1;

// font-sizes

$h1: 4rem;
$h2: 2.5rem;
$h3: 1.5rem;
$p: 1.7rem;
$small: 1.5rem;
$nav: 1.2rem;

// font sizes MOBILE (max-width 800px)

$h1-m: 2rem;
$h2-m: 1.2rem;
$h3-m: 1.3rem;
$p-m: 1.3rem;
$small-m: 1rem;