@use './base/reset';
@use './config/colors';
@use './config/typography';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  overflow: hidden;
}

// makes smooth scroll when clicking the links
.smooth-scroll-container {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-weight: 650;
}

$small: 1.5rem;

h1 {
  line-height: 120%;
  font-weight: 650;
  font-size: typography.$h1;
  @media (max-width: 900px) {
    font-size: typography.$h1-m;
  }
}

h2 {
  font-size: typography.$h2;
  font-weight: 500;
  @media (max-width: 900px) {
    font-size: typography.$h2-m;
  }
}

h3 {
  font-size: typography.$h3;
  font-weight: 650;
  line-height: typography.$line-height-single;
  @media (max-width: 900px) {
    font-size: typography.$h3-m;
  }
}

body {
  background-color: colors.$background;
  font-family: typography.$text;
  font-size: 16px;
  font-weight: 400;
  color: colors.$text;
}

p {
  max-width: 720px;
  font-size: typography.$p;
  @media (max-width: 900px) {
    font-size: typography.$p-m;
    max-width: 80vw;
  }
}

.text-box {
  background-color: colors.$rose;
  padding: 1.5rem 2rem;
  border-radius: 33px;
  box-shadow: 1rem 1.5rem colors.$dark-rose;
}

strong {
  font-weight: 650;
}

.sec {
  height: fit-content;
  min-height: 100vh;
}

.vs {
  width: 5rem;
}

.section-padding {
  padding: 100px;
  @media (max-width: 900px) {
    padding: 2rem 1rem;
  }
}

.section-container {
  width: 80vw;
  max-width: 1200px;
}

.change-flex-dir {
  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.mobile {
  @media (min-width: 901px) {
    display: none;
  }
}

.desktop {
  @media (max-width: 901px) {
    display: none;
  }
}
