@use './base/reset';
@use './config/colors';
@use './config/typography';

*{
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1, h2, h3 {
  font-weight: 650;
}

h1 {
  line-height: 120%;
}

body {
  background-color: colors.$background;
  font-family: typography.$text;
  font-size: 16px;
  font-weight: 400;
  color: colors.$text;
}

.text-box {
  background-color: colors.$rose;
  padding: 3rem 4rem;
  border-radius: 33px;
  box-shadow: 1rem 1.5rem colors.$dark-rose;
}

strong {
  font-weight: 650;
}

.sec {
  height: fit-content;
  min-height: 95vh;
  
}

.vs {
  width: 5rem;
}

.section-padding{
  padding: 100px ;
}

p {
  max-width: 600px;
}

.section-container{
  width: 80vw;
  max-width: 1200px
}