.dn2-sticky {
  position: sticky;
  top: 2.4rem;
  left: 2rem;
  z-index: 3;
  @media (max-width: 900px) {
    display: none;
  }
}

.doughnut2 {
  position: absolute;
  margin-top: 6rem;
  margin-left: 1rem;
  @media (max-width: 1178px) {
    margin-top: 7rem;
  }
}
