.dn1-sticky {
  margin-top: 2.4rem;
  position: sticky;
  top: 0rem;
  left: 2rem;
  @media (max-width: 900px) {
    display: none;
  }
}

.doughnut1 {
  z-index: 10;
  position: sticky;
  margin-top: 5rem;
  margin-left: 1rem;

  /* @media (max-width: 1178px) {
    margin-top: 6rem;
  } */
}
