.Scrollbar{
    position: fixed;
    top:6rem;
    @media (max-width: 900px) {
        top:4rem;
      }
    left: 1.5rem;
    display: flex;
    flex-direction: column;

    img {
        width: 80px;
       height: 80px;
       @media (max-width: 900px) {
        width: 60px;
        height: 60px;
      }
    }
  

    #do-1{
        z-index:10
    }
    #do-2{
        margin-top: -2rem;
        z-index:9
    }
    #do-3{
        margin-top: -2rem;
        z-index:8
    }
    #do-4{
        margin-top: -2rem;
        z-index:7
    }
    #do-5{
        margin-top: -2rem;
        z-index:6
    }
    #do-6{
        margin-top: -2rem;
        z-index:5
    }

    
}