@use '../styles/config/typography';
@use '../styles/config/colors';

.Sec1 {
  section {
    padding-top: 5rem;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  .main-logo {
    display: flex;
    margin-bottom: 2rem;;
    img {
      width: 250px;
      margin: 0 auto;
    }
  }
  .container{
    margin-top: 2rem;
  }
  .claim{
    width: 650px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .call-to-action {
    width: 500px;
    align-self: center;
    margin: 2rem 0 2rem -20vw;
  }
  h2 {
    font-size: typography.$h2;
    font-weight: 500;
  }
  h1 {
    font-size: typography.$h1;
    font-weight: 650;
  }
}

.call-to-action {
  display: flex;
  align-items: flex-end;
}
