@use '../styles/config/colors';
@use '../styles/config/typography';

.Sec2 {
  section {
    background-color: colors.$background-second;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .wireframe {
    width: 40vw;
    img {
      width: 40vw;
      margin-bottom: 2.4rem;
    }

    p {
      font-size: typography.$p;
    }
  }
}
