@use '../styles/config/colors';
@use '../styles/config/typography';

.Sec5 section {


  .section-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 8rem 20rem 0 20rem;
  }
  h1 {
    font-size: typography.$h1;
  }

  p {
    font-size: typography.$p;
    padding: 4rem;
  }
  .section-header {
   // float: left;
    box-shadow: 1rem 1.5rem #ff5d77;
    width: 460px;
    align-self: center;
  }
  .diagram {
    display: flex;
    justify-content: center;
    align-items: center;
    .diagram-cloud-provider {
      text-align: right;
    }
    .diagram-center{
      display: flex;
      align-items: center;
      margin-bottom: 4rem;
    }
    .glazed-do{
      margin: 0 2rem 0 2rem;
    }
    .diagram-side{
      margin: 2rem
    }
    p {
      padding: 0;
    }
  }
}
