@use '../styles/config/colors';
@use '../styles/config/typography';

.Sec6 {

  background-color: colors.$background-second;
  //padding: 7rem;

  .vision-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .ul-wrapper {
      flex-grow: 1;
      max-width: 700px;
    }
    ul {
      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 2rem;
      }
      img {
        width: 60px;
        margin: 1rem 1.5rem;
      }
      small {
        font-size: typography.$small;
        color: white;
        padding: 2rem;
        background-color: #7c73e9;
        border-radius: 13px;
        @media (max-width: 900px) {
          font-size: typography.$small-m;
        }
      }
    }
  }
  .paragraph{
    margin-left: 4rem;
    width: 400px;
    flex-grow: 0;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: 650;
    margin: 0 0 2rem 2rem;
  }

  
}
