@use '../../styles/config/colors';
@use '../../styles/config/typography';

.Sec3 {
  display: flex;
  @media (max-width: 900px) {
    padding-bottom: 0;
  }

  section {
    display: flex;
    flex-direction: column;
    margin: auto auto;
  }
  .section-intro {
    display: flex;
    align-items: flex-start;
  }

  p {
    margin-left: 4rem;
    padding: 1rem 0 1rem 0;

    @media (max-width: 900px) {
      margin-left: 0;
      padding: 4rem 0 0 0;
    }
  }

  .section-header {
    box-shadow: 1rem 1.5rem #7c73e9;
    width: 470px;
    margin-bottom: 4rem;
    @media (max-width: 900px) {
      width: 300px;
      margin-bottom: 1rem;
    }
  }

  .diagram-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto 0;
    @media (max-width: 901px) {
      align-items: center;
    }
  }
  .diagram {
    margin-top: 4rem;
    @media (max-width: 900px) {
      margin-top: 2rem;
    }

    img {
      height: 9rem;
      width: 50vw;
      height: auto;
      @media (max-width: 900px) {
        width: 100%;

        padding-bottom: 1rem;
      }
    }
    .process-desk {
      @media (max-width: 900px) {
        display: none;
      }
    }
    .process-mobile {
      @media (min-width: 901px) {
        display: none;
      }
    }
  }
  .vs {
    margin: 1rem auto 1rem 9rem;
    @media (max-width: 901px) {
      margin: 1rem auto;
    }
  }
}
.doughnut-sticky {
  margin-left: 1rem;
}
