@use '../../styles/config/colors';
@use '../../styles/config/typography';

.Sec4 {
  display: flex;
  flex-direction: column;
  background-color: colors.$background-second;
  section {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .section-intro {
    display: flex;
    align-items: center;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // margin: 8rem 20rem 0 20rem;

    .section-header {
      // display: flex;
      margin-left: 4rem;
      box-shadow: 1rem 1.5rem #ffde74;
      width: 400px;
      align-self: center;
      @media (max-width: 900px) {
        width: 300px;
        margin: 0;
      }
    }
  }

  p {
    max-width: 500px;
    @media (max-width: 900px) {
      margin-left: 0;
      padding: 4rem 0 1rem 0;
    }
  }

  /*  .sec4-digram-wrapper {
    display: flex;
    justify-content: flex-start;
  } */

  .diagram {
    @media (max-width: 900px) {
      width: 80vw;
      padding-bottom: 1rem;
    }

    .process-desk {
      max-width: 70%;

      @media (max-width: 900px) {
        display: none;
      }
    }

    .process-mobile {
      max-width: 80vw;
      @media (min-width: 901px) {
        display: none;
      }
    }

    margin-top: 7rem;
    @media (max-width: 900px) {
      margin-top: 2rem;
    }
  }
}
.doughnut-sticky {
  margin-left: 1rem;
}
