* {
  margin: 0;
  padding: 0;
}

// We need to explicitely override sanitize.css here...
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-transform: none !important;
}

button {
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}
